#btc-connect-button, #zap-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btc-connect-button:hover, #zap-button:hover {
    background-color: #45a049;
}
